<div itemprop="provider" itemscope itemtype="http://schema.org/Organization" id="footer">
	<p>
		<span itemprop="name">tools.siskov.info | </span>
		<a itemprop="url" href="{{host}}">Home</a><span> | </span>
		<a itemprop="url" href="{{host}}/{{textResources.lang}}/contact.html">Contact us</a>
	</p>
</div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>